<h1>Know English Flashcards</h1>
<h2>The app for those who know no English</h2>
<br>
<br>

  <% @flashcards.each do |card| %>
    <ul>
      <%= link_to(image_tag(card.picture_url), flashcard_path(card))%>
    </ul>
  <% end %>
</ul>
