<h1><%= @topic.topic %></h1>
<br>
<br>
<div class="container">
  <div class="row">
    <% @flashcards.each do |card| %>
      <div class="one-third column">
        <%= link_to(image_tag(card.picture_url), topic_flashcard_path(card))%>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "Home", root_path, class:"home-link"%>
