<h1><%= @topic.topic %></h1>
<br>
<br>

<section id="topic_list" class="hero u-full-width">
  <div class="container centered">
    <div class="three columns">
      <% @flashcards.each do |card| %>
        <ul>
          <%= link_to(image_tag(card.picture_url), topic_flashcard_path(card))%>
        </ul>
      <% end %>
    </div>
  </div>
</section>

<%= link_to "Home", root_path, class:"home-link"%>
