html {
  font-family: 'Walter Turncoat';
  font-family: 'Architects Daughter';
  font-family: 'Gloria Hallelujah';
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
  /*margin-left: 100px;*/
  property: initial;
  font-size: 24px;
  background: url("blackboard.jpg") no-repeat center center fixed;
  /*background-repeat: no-repeat;*/
  /*width: 100%;*/
  /*height: 100%*/
  /*background-position: center;*/
  background-color: #FAA916;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: inherit;
}
.bold { font-weight: bold; }
.red { color: #C83838; }

#indexB a{
  font-size: x-large;
  color: white;
  margin-left: 50px;
  text-align: left;
}

#homework {
  border: 2px solid;
  display: inline;
}

body {
  color: white;
}

.alphabet {
  width: 100%;
  display: inline-block;
  margin: auto;
  letter-spacing: 8px;
  text-align: center;
  border: solid medium;
  border-style: double;
  font-size: medium;
  background-color: black;
}

.title {
  font-size: x-large;
  text-align: left;
}
.add_a_word {
  font-size: xx-large;
  margin-left: 75px;
  color: black;
  /*padding: 16px;*/
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.add_a_word:hover {
  background-color: black; /* Green */
  color: white;
}
.add_a_word_form {
  margin-left: 100px;
  font-size: xx-large;
}
input[type=text] {
  width: 30%;
  /*height: 20px;*/
  font-size: 100%;
  margin-left: 5%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #FAA916;
    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    /*margin: 4px 2px;*/
    cursor: pointer;
    margin-left: 5%;
    border-radius: 25px;
    font-size: large;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    div button{
    display: inline-block;
}
}
#flashcard_topic_id {
    position: relative;
    display: inline-block;
    font-size: xx-large;
    padding: 106px 32px;
}
/*.home-link {
  font-size: xx-large;
  margin-left: 50px;
  margin-bottom: 75px;
  color: black;
  padding: 10px 30px;
  -webkit-transition-duration: 0.4s; /* Safari */
  /*transition-duration: 0.4s;
  }*/

input:hover {
  background-color: black;
  color: white;
}
.index_poster img{
  width: 15%;
  height: 15%;
  float: right;

  vertical-align: middle;
  border: thick solid black;
  margin-right: 85px;
}
/*.index_poster {
width: 20px;
margin-right: 100px;
}*/
img {
  width: 200px;
  transition: all .2s ease-in-out;
  border: thick solid black;
  margin-left: 100px;
  /*margin-right: 10%;*/
  text-align: center;
  margin: auto;
}
/*img.center {
  width: 200px;
  transition: all .2s ease-in-out;
  border: thick solid black;
  margin-left: 10px;
  text-align: center;
}*/
.img:hover {
  transform: scale(1.1);
}
.constitution {
  text-align: center;
  text-decoration: underline;
  text-decoration-style: double;
  font-weight: bold;
  /*margin-left: 100px;*/
}

h1 {
  color: white;
  text-align: center;
  font-size: 200%;
}

h2 {
  margin-left: 40px;
}

.topic_image {
  width: 50px;
  border: 0px;
  border-style: hidden;
  float: right;
}
.show-page {
  font-size: xx-large;
  text-align: center;
}
.sounds-like-image {
  width: 100px;
  border: none;
  text-align: center;
}
/*This google element is not doing anything. :(*/
.goog-te-gadget {
  max-width: 50px !important;
  font-size: 60px !important;
  margin-left: 100px;
}

.constitution_image {
  text-align: right;
  margin: 10px;
  margin-left: 100px;
}
.masonry-layout {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-gap: 0;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
}

.masonry-layout-panel {
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
}

.masonry-layout-panel-content {
  margin-left: 100px;
}

/*This CSS Snippet below is for your CSS Media Query of choice. It breaks down the items to one column for mobile.*/
.masonry-layout {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
}

/*CSS file*/

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 2rem 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
            perspective: 1000px;
}

.front,
.back{
  background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 200px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    padding: 10% 0px;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .2;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
