html {
  font-family: 'Walter Turncoat';
  font-family: 'Architects Daughter';
  font-family: 'Gloria Hallelujah';
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
  /*margin-left: 100px;*/
  property: initial;
  font-size: 24px;
  background: url("blackboard.jpg") no-repeat center center fixed;
  /*background-repeat: no-repeat;*/
  /*width: 100%;*/
  /*height: 100%*/
  /*background-position: center;*/
  background-color: #FAA916;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
.bold { font-weight: bold; }
.red { color: #C83838; }

#indexB a{
  font-size: x-large;
  color: white;
  margin-left: 50px;

}

#homework {
  border: 2px solid;
  display: inline;
}
body {
  color: white;
}
/*
.blackboard {
  /*background-image: url("blackboard.jpg");
  background-repeat: no-repeat;
  width: 100%;*/
  /*background-position: center;
  background-color: #FAA916;*/
/*}*/
.alphabet {
  width: 100%;
  display: inline-block;
  margin: auto;
  letter-spacing: 8px;
  text-align: center;
  border: solid medium;
  border-style: double;
  font-size: medium;
  background-color: black;
}

.title {
  font-size: x-large;
}
.add_a_word {
  font-size: xx-large;
  margin-left: 75px;
  color: black;
  /*padding: 16px;*/
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.add_a_word:hover {
  background-color: black; /* Green */
  color: white;
}
.add_a_word_form {
  margin-left: 100px;
  font-size: xx-large;
}
input[type=text] {
  width: 30%;
  /*height: 20px;*/
  font-size: 100%;
  margin-left: 5%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #FAA916;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    /*margin: 4px 2px;*/
    cursor: pointer;
    margin-left: 5%;
    border-radius: 25px;
    font-size: large;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#flashcard_topic_id {
    position: relative;
    display: inline-block;
    font-size: xx-large;
    padding: 106px 32px;
}
/*.home-link {
  font-size: xx-large;
  margin-left: 50px;
  margin-bottom: 75px;
  color: black;
  padding: 10px 30px;
  -webkit-transition-duration: 0.4s; /* Safari */
  /*transition-duration: 0.4s;
  }*/

input:hover {
  background-color: black;
  color: white;
}
.index_poster img{
  width: 15%;
  height: 15%;
  float: right;

  vertical-align: middle;
  border: thick solid black;
  margin-right: 85px;
}
/*.index_poster {
width: 20px;
margin-right: 100px;
}*/
img {
  width: 200px;
  transition: all .2s ease-in-out;
  border: thick solid black;
  margin-left: 10px;

}
.img:hover {
  transform: scale(1.1);
}
.constitution {
  text-align: center;
  text-decoration: underline;
}

h1 {
  color: white;
  text-align: center;
  font-size: 200%;
}

h2 {
  margin-left: 40px;
}

.topic_image {
  width: 50px;
  border: 0px;
  border-style: hidden;
  float: right;
}
.show-page {
  font-size: xx-large;
  text-align: center;
}
.sounds-like-image {
  width: 100px;
  border: none;
  text-align: center;
}
/*This google element is not doing anything. :(*/
.google_translate_element {
  width: 100px;
  margin-left: 20px;
}

.constitution_image {
  text-align: right;
  margin: 10px;
}
.masonry-layout {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-gap: 0;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
}

.masonry-layout-panel {
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
}

/*This CSS Snippet below is for your CSS Media Query of choice. It breaks down the items to one column for mobile.*/
.masonry-layout {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
}
